.section-footer {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: 15px;
      padding: 20px;
      background-color: transparent;
      /* text-align: center; */
    }
    
    .section-footer div {
      background-color: transparent;
      padding: 6px;
    }
    
    .section-footer h4 {
      margin-bottom: 4px;
    }
    
    .section-footer p {
      color: #a0a0a0;
    }
    
    .form-group {
      display: flex;
    }
  
    .footer-input-email {
      flex: 1;
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 4px 0 0 4px;
      margin-right: -1px; /* To avoid double border between the input and button */
      /* width: 180px; */
      justify-content: center;
    }
    
    .footer-input-submit {
      padding: 10px 20px;
      background-color: #333;
      color: #fff;
      border: 1px solid #333;
      border-radius: 0 4px 4px 0;
      cursor: pointer;
    }
    
    .footer-input-submit:hover {
      background-color: #555;
    }

    .copyright-footer{
      color: hsl(245, 15%, 65%); 
      font-size: var(--small-font-size);
      text-align: center;
    }